@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: "pretendard";
    src: url(./public/Fonts/Pretendard-Bold.otf);
    font-weight: 700;
    font-style: bold;
    font-display: swap;
  }
  @font-face {
    font-family: "pretendard";
    src: url(./public/Fonts/Pretendard-Medium.otf);
    font-weight: 500;
    font-style: medium;
    font-display: swap;
  } */

  @font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
    src:
      url("./assets/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-Bold.subset.woff") format("woff");
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 600;
    font-display: swap;
    src:
      url("./assets/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-SemiBold.subset.woff") format("woff");
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-display: swap;
    src:
      url("./assets/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-Medium.subset.woff") format("woff");
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
    src:
      url("./assets/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-Regular.subset.woff") format("woff");
  }

  @font-face {
    font-family: "pretendard";
    src: url(public/Fonts/Pretendard-Light.otf);
    font-weight: 300;
    font-style: light;
    font-display: swap;
  }

  html {
    background-color: rgb(239, 239, 239);
    @media (max-width: 450px) {
      font-size: 15px;
    }
    @media (max-width: 375px) {
      font-size: 12px;
    }
  }

  body {
    @apply bg-background text-foreground;
  }

  input,
  textarea {
    pointer-events: auto;
    user-select: auto;
    -ms-user-select: auto;
    -webkit-user-select: auto;
  }
}

@layer components {
  .Headline_B {
    @apply font-pretendard text-[26px] font-bold leading-[30px] tracking-[-0.41px];
  }

  .Headline_L {
    @apply font-pretendard text-[26px] font-light leading-[30px] tracking-[-0.41px];
  }

  .Body_normal_M {
    @apply font-pretendard text-[20px] font-medium leading-[30px] tracking-[-0.41px];
  }

  .Body_reading_M {
    @apply font-pretendard text-[18px] font-medium leading-[16px] tracking-[-0.41px];
  }

  .Label_M {
    @apply font-pretendard text-[16px] font-medium leading-[22px] tracking-[-0.41px];
  }

  .Label_L {
    @apply font-pretendard text-[16px] font-light leading-[22px] tracking-[-0.41px];
  }

  .Caption_normal_M {
    @apply font-pretendard text-[14px] font-medium leading-[18px] tracking-[-0.41px];
  }

  .Caption_reading_M {
    @apply font-pretendard text-[12px] font-medium leading-[22px] tracking-[-0.41px];
  }

  .Caption_reading_L {
    @apply font-pretendard text-[12px] font-light leading-[22px] tracking-[-0.41px];
  }
}
